body {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1)),
    url(https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg);
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  grid-template-columns: 1fr / span 2fr;
  margin: 100px auto;
  max-width: 1200px;

  font-family: "Charm", cursive;
  font-weight: 500;
}

main {
  background-color: rgb(253, 240, 223);
  border-radius: 2rem;
  padding: 2rem;
  height: 1000px;

  gap: 20px;
  font-family: "Charm", cursive;
  font-weight: 500;

  color: #553b22;
}

.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.jidlo {
  background-color: rgb(230, 207, 178);
  margin: 1fr;
  font-size: larger;
  padding: 15px;
  border-radius: 2rem;
  height: 200px;
}
.footer {
  background-color: rgb(230, 207, 178);
  margin: 1fr;
  font-size: larger;
  padding: 20px;
  border-radius: 2rem;
  height: 200px;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main > * {
  animation: fadein 1.2s;
}

a {
  text-decoration: none;
  transition: color 0.2s;

  color: #900017;
}

a:hover {
  color: #ff8095;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
}

/* nav bar */

#nav-bar {
  display: flex;
  gap: 0.8rem;

  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  justify-content: right;
  list-style-type: none;

  background-color: #babe84;
  border-radius: 2rem;

  padding: 0.25rem 0.8rem;
  margin: 2rem 0;
}

.nav-item {
  padding: 0.2rem 0.5rem;

  background-color: rgb(253, 240, 223);
  border-radius: 1rem;

  font-family: "Charm", cursive;
  font-weight: 600;

  font-size: larger;
}

#kontakt,
.header-text {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  color: #900017;
}

.knt-item,
.nov-item {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: #900017;
}

.knt-item {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: #900017;
  display: flex;
  row-gap: 1rem;
}

.knt-li {
  list-style-type: none;
  padding-left: 1rem;
}

.knt-li2 {
  list-style-type: none;
  padding-left: 1rem;
}

#uvod-list {
  list-style-type: none;
  animation: fadein 1.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.uvod-item {
  padding: 2.5rem 0;
}
